<nav>
  <div class="navbar_div">
    <a href="/articles"> <i class="fa-regular fa-lemon navbar_icon"></i></a>
       
        
      
          <div class="navbar_list" id="">
            <a class="navbar_link active" aria-current="page" href="/articles">All Articles</a>
            <a class="navbar_link active" aria-current="page" href="/categories">Categories</a>
          </div>
          
          <div class="dropdown">
            <button class="drop_btn">Users  <span class="material-symbols-outlined">
              expand_more
              </span> </button>
            
            <div class="dropdown-content">
              <% if (!isAuthenticated) { %>
                <div class="a_group">
                  <a class="dropdown_item" href="/users/signup">Sign Up</a>
                  <a class="dropdown_item" href="/users/login">Log In</a>
                </div>
              

                <% } else { %>
                  <div class="a_group">
                    <a class="dropdown_item" href="/users">Our users</a>
                  </div>
                    <form action="/users/logout" method="POST">
                      <button class="logout_button" type="submit">Logout</button>
                    </form>
                  <% } %>
            </div>
          </div>
        
     
          <div class="nav_search">
            <form class="search_form" role="search" method="POST" action="/articles/search">
              <input class="nav_input" type="search" name="searchTerm" placeholder="Search" aria-label="Search">
              <button class="btn_search" type="submit">Search</button>
            </form>
          </div>
   </div>
</nav>