<head>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/articles">CB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/articles">All Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/categories">Categories</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Users
            </a>
            <ul class="dropdown-menu">
              <% if (!isAuthenticated) { %>
                <li><a class="dropdown-item" href="/users/signup">Sign Up</a></li>
                <li><a class="dropdown-item" href="/users/login">Log In</a></li>

                <% } else { %>
                  <li><a class="dropdown-item" href="/users">Our users</a></li>
                  <li>
                    <form action="/users/logout" method="POST">
                      <button type="submit">Logout</button>
                    </form>
                  </li>
                  <% } %>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search" method="POST" action="/articles/search">
          <input class="form-control me-2" type="search" name="searchTerm" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

      </div>
    </div>
  </nav>

</head>