.all_categories {
    font-size: 3rem;
    font-style: italic;
    font-weight: 500;
    margin-left: 1rem;
}


.new_category_button {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-weight: 0;
    text-decoration: none;
    font-size: 1.5rem;
    border: hidden;
    padding: 10px 23px;
    border-radius: 20px;
    height: 2rem;
    line-height: 1;
    border-bottom: 2px solid grey;
    color: rgb(21, 51, 41);
    background-color: rgb(183, 221, 183);
    margin-left: 1.5rem;
}

.all_category_div {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.all_category_image {
    margin-left: 1.5rem;
    width: 25rem;
    height: 19rem;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 15px 12px 23px -11px rgba(66, 68, 90, 1);
}

.all_category_link {
    text-align: center;
    text-decoration: none;
    color: rgb(21, 51, 41);
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.one_category_name>p {
    margin-left: 2rem;
    padding-top: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: rgb(21, 51, 41);
    text-transform: capitalize;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
}
.one_category {
    display: flex;
    align-items: center;
}
.display_category_div{
    justify-items: center;
}

.one_category_description {
    background-color: rgba(243, 236, 233, 0.986);
    height: fit-content;
    width: fit-content;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    margin: 0 2rem;
    align-items: center;
    justify-items: center;
    display: block;
    font-size: 1.3rem;
    
}

.one_category_buttons {
    display: flex;
    width: 12rem;
    text-align: center;
    padding-top: 3rem;
    justify-content: space-around;
}

.category_no_item {
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    padding: 2rem;
    width: fit-content;
}

.category_article_title{
    text-transform: capitalize;
    margin-top: 0.5rem;
}

.category_article_title:hover{
    color: rgb(50, 50, 146);
    font-style: italic;
}