/* category form  */

.errors {
    width: fit-content;
    background-color: rgb(199, 90, 90);
    color: white;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 2rem;
}

.new_category_title {
    padding-top: 1rem;
    padding-left: 1.5rem;
}

.category_form {
    padding: 3rem 4rem;

}

.form_label {
    font-size: 1.5rem;
    font-weight: 600;

}

.form-control {
    background-color:rgb(206, 173, 147);
    margin-bottom: 1.5rem;
    border-radius: 10px;
}

.form-control:focus {
    background-color: rgb(255, 255, 246);
    border-color:rgb(111, 76, 91);
}

.category_form_textarea_div {
    background-color:rgb(206, 173, 147);
    margin-bottom: 1.5rem;
    border-radius: 10px;
    width: 25rem;
    padding: 0.5rem;
}

.category_form_textarea {
    background-color: rgb(255, 255, 246);
    font-size: 1rem;
    line-height: 1.4;
    border-radius: 10px;
    border: 1px solid transparent;
    outline: none;
    font-family: "Heebo", sans-serif;
    font-weight: 500;
    padding: 0.5;
    margin: 0;
    max-width: 24rem;
}

.category_form_textarea:focus {
    background-color: rgb(255, 255, 246);
    border-color: rgb(193, 232, 241);
}

.category_form_name {
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 500;
}

.form_btn_group {
    display: flex;
    width: fit-content;
    text-align: center;
    padding: 0;
    justify-content: space-around;
    border: hidden;
    font-size: 1.2rem;
}

.btn_cancel {
    color: aliceblue;
    text-decoration: none;
    background-color:rgb(158, 119, 119);
    padding: 1rem 1.5rem;
    margin-right: 1rem;
    border-radius: 20px;
    line-height: 1;
}

.btn_submit {
    color: aliceblue;
    text-decoration: none;
    background-color: rgb(111, 76, 91);
    padding: 1rem 1.5rem;
    margin-right: 1rem;
    border-radius: 20px;
    line-height: 1;
    border: hidden;
}

/* category form  */

/* user form  */
.signup_container_center {
    display: flex;
    justify-content: center;
}

.signup_container {
    margin: 1.5rem;
    border-radius: 7px;
    width: fit-content;
    display: block;
    align-items: center;
    padding-bottom: 2rem;

}

.signup_title {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    margin-right: 1rem;
    padding-bottom: 1rem;
}

.signup_form {
    padding: 2rem;
    background-color: rgba(219, 201, 175, 0.65);
    width: fit-content;
    height: fit-content;
    align-items: center;
    border-radius: 10px;
}

.form-control {
    width: 25rem;
}

.signup_label {
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 1rem;
    display: block;
}

.signup_input {
    margin-top: 1rem;
    width: 23.5rem;
    border: hidden;
    background-color: rgb(255, 255, 246);
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;

}

.signup_input:active {
    border-color: rgb(195, 221, 212);
}


.reset_password {
    padding-top: 1.5rem;
}
.btn_reset_password {
    color: aliceblue;
    text-decoration: none;
    background-color: rgb(151, 72, 82);
    padding: 0.8rem 1rem;
    font-size: 1.1rem;
    margin-right: 1rem;
    border-radius: 20px;
    line-height: 1;
    border: hidden;
    border-bottom: 2px solid grey;
}

.btn_update_password {
    color: aliceblue;
    text-decoration: none;
    background-color:rgb(161, 112, 132);
    padding: 0.8rem 1rem;
    font-size: 1.1rem;
    margin-right: 1rem;
    border-radius: 20px;
    line-height: 1;
    border: hidden;
    border-bottom: 2px solid grey;
}

/* userform  */

/* new article form*/

.form_article {
    width: 45rem;
}
.new_article_form{
    margin-top: 2rem;
}

.new_article_label {
    font-size: 1.4rem;
    font-weight: 500;
    margin-right: 1rem;
    display: block;
}

.new_article_input {
    width: 42rem;
    margin: 0.5rem 1rem;
    border: hidden;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 0.5rem;
    margin-top: 0.8rem;
    font-size: 1rem;
    outline: none;
}

/* .new_article_input:focus {
    background-color: rgb(245, 245, 245);
    border:rgb(111, 76, 91);
} */

.btn_delete_ingredient {
    border: none;
    border-radius: 20px;
    color: aliceblue;
    text-decoration: none;
    background-color: rgb(179, 121, 121);
    padding: 0.5rem 0.8rem;
    margin-left: 0.8rem;
    line-height: 1;
    border-bottom: 2px solid grey;
}

.btn_add_ingredient {
    border: none;
    border-radius: 20px;
    text-decoration: none;
    background-color: rgb(245, 232, 199);
    padding: 0.5rem 0.8rem;
    margin-top: 1rem;
    margin-left: 0.8rem;
    line-height: 1;
    border-bottom: 2px solid grey;
}

.new_article_textarea {
    background-color: rgb(245, 245, 245);
    margin: 0.5rem 1rem;
    width: 42rem;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.4;
    border-radius: 10px;
    border: 1px solid transparent;
    outline: none;
    font-family: "Heebo", sans-serif;
    
}

/* .new_article_textarea:focus {
    background-color: rgb(245, 245, 245);
    border-color: rgb(111, 76, 91);
    cursor: text;
    color: #333333;
} */


/* new article form*/